@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

/* Shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-btn{
    width: 140px;
    height: 45px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4,#9100F8); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.primary-btn:hover {
  background: linear-gradient(90deg, #f39c12, #8e44ad);
  transform: scale(1.1); 
}

.primary-paragraph{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 80%;
    line-height: 20px;
}

/* header style */

.navBar-container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: white;
}
.linear-gradient-logo{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent;
}   
#logo{ 
  font-size: 45px; 
}
#hamburger-menu{
    display: none;
}

.header-navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-navbar ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hide{
   display: none !important;
}

.hero-circle-container{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   text-align: center;
}
.hero-circle-container .hero-circle{
    margin-top: 40px;
    width: 400px;
    height: 400px;
    padding-bottom: 50px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

#inside-hero-circle-img{
    margin-left: -260px;
    margin-top: -50px;
}

.circle-btn{
    width: 80px;
    height: 40px;
    color: #1A0B2E;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    background-color: #00FF88;   
    transition: all 0.3s ease;
}

.circle-btn:hover{
    background-color: rgba(0, 128, 0, 0.1); 
    color: white; 
    border-color: darkgreen; 
}
#hero-circle-btn-container{
    margin-top: -330px;
    padding-left: 40px;
}

.title{
    color: white;
    font-size: 60px;
    margin-left: 20px;
    margin-top: -30px;
}  

.primary-btn2{
    width: 180px;
    height: 45px;
    /* background: linear-gradient(45deg, #ff00cc, #00ffff);  */
   background: linear-gradient(45deg, #F7E93F, #FB09B4,#9100F8); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.primary-btn2:hover {
  background: linear-gradient(90deg, #f39c12, #8e44ad); 
  transform: scale(1.1); 
}


.primary-btn3{
    width: 180px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88; 
    padding: 10px 20px;
    border-radius: 25px; 
    font-size: 16px; 
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.primary-btn3:hover{
    background-color: rgba(0, 128, 0, 0.1); 
    color: white; 
    border-color: darkgreen; 
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
}


/* --------------------------------------------------- */

.podcast-section{
    width: 100%;
    height: 650px;
    background-color: #1A0B2E;
    color: white;
}

.podcast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#state-line {
    width: 65%;
    border-bottom: 1px solid white;
    opacity: 30%;
}
.poscast-box-style{
    /* width: 65%; */
    max-height: 220px;
    padding: 60px 150px 100px 150px;
}

.poscast-box-style h1{
    font-size: 48px;
    padding-bottom: 20px;
}

/* .podcast-card{
    width: 240px;
    height: 90px;
} */
.podcast-card h1{
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 10px;
}

.card-container{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(1,200px) ;
    /* justify-content: space-around;
    /* align-items: center; */
    margin-top: 80px; 
}
/* ------------------------------------------ */

.why-choose-section {
    width: 100%;
    height: 1120px;
    background-color: #230E3D;
    padding-top: 50px;
    color: white;
}

.why-choose-section .heading {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    padding: 50px 50px 20px 50px;
}

.grid-container {
    width: 65%;
    max-height: 780px;
    margin: 20px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
}

.fream1 {
    grid-column: span 1;
    grid-row: span 2;
}

.fream2 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-card1 {
    background-color: #351165;
    border-radius: 40px;
    text-align: left;
    padding: 60px;
}

.grid-card1 h2 {
    font-size: 24px;
    padding: 10px 0px;
}


/* ---------------------------------------------- */
.featured-episodes-section{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: 1170px;
    background-color: #1A0B2E;
    color: white;
}
#featured-episodes-heading{
    font-size: 48px;
    margin: 70px 0px 30px 0px;
}
.meet-the-host-container{
    width: 63%;
    padding: 20px;
    background-color: #250D44;
    margin-top: 30px;
    border-radius: 40px;
    display: flex;
}
.meet-the-host-container img{
    width: 200px;
    height: 200px;
}
#meet-the-host-heading{
    margin-top: 120px;
    font-size: 48px;
}

.ifream-container{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,300px);
    gap: 10px;
}

.frame3{
    grid-column: span 1;
    grid-row: span 1;
}

.iframe-style{
    width: 350px;
    height: 214px;
    border: none;
    border-radius: 24px;
}

.iframe-box{
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    /* padding: 20px; */
    background-color: #250D44;
    
}
.iframe-heading{
    font-size: 24px;
    margin:10px 0px;

}
.content-box{
    padding: 10px;
    background-color: #250D44;
    margin-top: 0px;
    border-radius: 24px;
}

.time-style{
    background-image: url(../assets/clock.png);
    background-repeat: no-repeat;
    font-size: 16px;
    color: #00FF88;
    margin-top: 10px;
    padding-left: 20px;
}

.host-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.host-content h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.icon-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.icon-container img {
    width: 20px;
    height: 20px;
    border: 2px solid #533C72;
    padding: 5px;
    border-radius: 15px;
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* ------------------footer section style-------------------- */

.footer-section{
    width: 100%;
    height: 410px;
    color: white;
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-container{
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.icons-container .icon-div{
    display: flex;
    gap: 10px;
}

.footer-text{
    padding-top: 50px;
    font-size: 20px;
    opacity: 50%;
}

/* ========================= */

@media screen and (max-width:576px) {
    #hide-btn{
        display: none !important;
    }
    #logo{
        margin-right: 130px;
    }
    #hamburger-menu{
        display: block;
        cursor: pointer;
    }
    .header-navbar ul{
        display: none;
    }
    .hero-circle-container{
        padding: 50px;
    }
    .card-container{
        /* width: 65%; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(2,50px);
        gap: 50px;
    }
    .podcast-card h1{
        font-size: 30px;
    }
        .poscast-box-style {
            width: 100%;
            max-height: 250px;
            padding: 0px;
            margin-top: 50px;
        }
    
        #logo {
            font-size: 33px;
        }
    
        #state-line {
            margin-top: 40px;
        }
    .podcast-card p{
        font-size: 12px;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 250px);
        gap: 20px;
    }
    .fream1 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .fream2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .why-choose-section .heading {
        font-size: 38px;
        padding: 0px 50px 20px 50px; 
    }
    .why-choose-section {
        width: 100%;
        height: 1540px;
    }
    .grid-card1 {
        padding: 30px 10px 30px 30px;
    }
    #featured-episodes-heading{
        font-size: 38px;
        margin: 50px 0px 30px 0px;
    }
    .ifream-container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,400px);
        gap: 30px;
    }
    .frame3{
        grid-column: span 1;
        grid-row: span 1;
    }
    .featured-episodes-section{
        height: 2070px;
    }
        .grid-container {
            width: 80%;
    
        }
    
        .why-choose-section .heading {
            font-size: 30px;
        }
    
        .poscast-box-style h1 {
            font-size: 36px;
        }
    
        .icons-container {
            width: 100%;
            flex-wrap: wrap;
        }
    #meet-the-host-heading{
    margin-top: 80px;
    font-size: 38px;
    }
.meet-the-host-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .footer-text {
      font-size: 15px;
  }

  .responsive-size {
      font-size: 38px !important;
      margin: 0 auto !important;
  }

  .title {
      font-size: 40px;
      margin-bottom: 10px;
  }

  .hero-circle-container .hero-circle {
      width: 350px;
      height: 350px;
      padding-bottom: 50px;
      margin-left: 30px;
  }

  #inside-hero-circle-img {
      margin-left: -235px;
      margin-top: -39px;
  }

  #hero-circle-btn-container {
      margin-top: -260px;
      padding-left: 40px;
  }

  .responsive-paragraph {
      padding: 20px;
  }
}
