@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

/* Shared style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.primary-btn{
    width: 140px;
    height: 45px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4,#9100F8); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.primary-btn:hover {
  background: linear-gradient(90deg, #f39c12, #8e44ad);
  transform: scale(1.1); 
}

.primary-paragraph{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 80%;
    line-height: 20px;
}

/* header style */

.navBar-container{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: white;
}
.linear-gradient-logo{
    background: linear-gradient(to right, #ffffff, #ff007f, #ff007f, #f8a400);
    -webkit-background-clip: text;
    color: transparent;
}   
#logo{ 
  font-size: 45px; 
}

.header-navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header-navbar ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    width: 100%;
    height: 760px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-circle-container{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   text-align: center;
}
.hero-circle-container .hero-circle{
    width: 400px;
    height: 400px;
    padding-bottom: 50px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

#inside-hero-circle-img{
    margin-left: -255px;
    margin-top: -55px;
}

.circle-btn{
    width: 80px;
    height: 40px;
    color: #1A0B2E;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    background-color: #00FF88;   
    transition: all 0.3s ease;
}

.circle-btn:hover{
    background-color: rgba(0, 128, 0, 0.1); 
    color: white; 
    border-color: darkgreen; 
}
#hero-circle-btn-container{
    margin-top: -380px;
    padding-left: 30px;
}

.title{
    color: white;
    font-size: 60px;
    margin-left: 20px;
    margin-top: -30px;
}  

.primary-btn2{
    width: 180px;
    height: 45px;
    /* background: linear-gradient(45deg, #ff00cc, #00ffff);  */
   background: linear-gradient(45deg, #F7E93F, #FB09B4,#9100F8); 
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.primary-btn2:hover {
  background: linear-gradient(90deg, #f39c12, #8e44ad); 
  transform: scale(1.1); 
}


.primary-btn3{
    width: 180px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88; 
    padding: 10px 20px;
    border-radius: 25px; 
    font-size: 16px; 
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.primary-btn3:hover{
    background-color: rgba(0, 128, 0, 0.1); 
    color: white; 
    border-color: darkgreen; 
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 25px;
}

/* --------------------------------------------------- */

.podcast-section{
    width: 100%;
    height: 650px;
    background-color: #1A0B2E;
    color: white;
}

.podcast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#state-line {
    width: 65%;
    border-bottom: 1px solid white;
    opacity: 30%;
}
.poscast-box-style{
    width: 65%;
    max-height: 220px;
    padding: 60px 150px 100px 150px;
}

.poscast-box-style h1{
    font-size: 48px;
    padding-bottom: 20px;
}

.podcast-card{
    width: 240px;
    height: 90px;
}
.podcast-card h1{
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 10px;
}

.card-container{
    width: 65%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 80px;
}
/* ------------------------------------------ */

.why-choose-section {
    width: 100%;
    height: 1120px;
    background-color: #230E3D;
    padding-top: 50px;
    color: white;
}

.why-choose-section .heading {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    padding: 50px 50px 20px 50px;
}

.fream1 {
    grid-column: span 1;
    grid-row: span 2;
}

.fream2 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-container {
    width: 65%;
    max-height: 780px;
    margin: 20px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
}

.grid-card1 {
    background-color: #351165;
    border-radius: 40px;
    text-align: left;
    padding: 60px;
}

.grid-card1 h2 {
    font-size: 24px;
    padding: 10px 0px;
}


/* ---------------------------------------------- */
.featured-episodes-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 1270px;
    background-color: #1A0B2E;
    color: white;
}
#featured-episodes-heading{
    font-size: 48px;
    margin: 70px 0px 30px 0px;
}
.meet-the-host-container{
    border: 2px solid #F7E93F;
    width: 65%;
    margin-top: 30px;
}

.ifream-container{
    width: 65%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.iframe-style{
    width: 350px;
    height: 214px;
    border: none;
    border-radius: 24px;
}

.iframe-box{
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    /* padding: 20px; */
    background-color: #250D44;
    
}
.iframe-heading{
    font-size: 24px;
    margin:10px 0px;

}
.content-box{
    padding: 10px;
    background-color: #250D44;
    margin-top: 0px;
    border-radius: 24px;
}

.time-style{
    background-image: url(../assets/clock.png);
    background-repeat: no-repeat;
    font-size: 16px;
    color: #00FF88;
    margin-top: 10px;
    padding-left: 20px;
}